[submodule "healy-apigateway"]
	path = healy-apigateway
	url = https://github.com/preyaswi/healy-apigateway-service.git
[submodule "patient-service"]
	path = patient-service
	url = https://github.com/preyaswi/healy-patient-service.git
[submodule "doctor-service"]
	path = doctor-service
	url = https://github.com/preyaswi/healy-doctor-service.git
[submodule "chat-service"]
	path = chat-service
	url = https://github.com/preyaswi/healy-chat-service.git
[submodule "admin-service"]
	path = admin-service
	url = https://github.com/preyaswi/healy-admin-service.git
